<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SkyStopwatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  
  <!-- for debug output -->
  <system.diagnostics>
    <sources>
      
      <!--<source name="Tesseract" switchValue="Verbose">-->
      <source name="Tesseract" switchValue="Error">
        <listeners>
          <clear />
          
          <add name="console" />
          
          <!-- Uncomment to log to file -->
			    <!--<add name="file" />-->
          
        </listeners>
      </source>
    </sources>
    <sharedListeners>

      <!-- Uncomment to show in debug console -->
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />

      <!-- Uncomment to log to file -->
		  <!--<add name="file" type="System.Diagnostics.TextWriterTraceListener"   initializeData="c:\log\tesseract.log" />-->
		  
    </sharedListeners>
  </system.diagnostics>
  
  
  <userSettings>
    <SkyStopwatch.Properties.Settings>
      <setting name="TimeViewPoint" serializeAs="String">
        <value>754, 770</value>
      </setting>
      <setting name="TimeViewSize" serializeAs="String">
        <value>140, 30</value>
      </setting>
      <setting name="PriceViewPoint" serializeAs="String">
        <value>1460, 240</value>
      </setting>
      <setting name="PriceViewSize" serializeAs="String">
        <value>140, 740</value>
      </setting>
      <setting name="BootingArgs" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EnableTopMost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimeNodeCheckingList" serializeAs="String">
        <value>10:30\r\n20:30\r\n35:00</value>
      </setting>
      <setting name="ProcessListCSV" serializeAs="String">
        <value>crossfire,overwatch2,csgo,devenv</value>
      </setting>
      <setting name="EnableLogToFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableCheckTimeNode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableBossCountingAutoSlice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BossCountingAutoSliceSeconds" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="BossCountingViewPoint" serializeAs="String">
        <value>800, 800</value>
      </setting>
      <setting name="BossCountingViewSize" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="EnableDebugging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableBossCountingOneMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsUsingScreenTopTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimeViewPreset1Point" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="TimeViewPreset1Size" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="TimeViewPreset2Point" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="TimeViewPreset2Size" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="TimeViewScanMiddleDelaySecond" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="EnableScreenTopTimeAutoLock" serializeAs="String">
        <value>True</value>
      </setting>
    </SkyStopwatch.Properties.Settings>
  </userSettings>


</configuration>
