<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  
  <!-- for debug output -->
  <system.diagnostics>
    <sources>
      
      <!--<source name="Tesseract" switchValue="Verbose">-->
      <source name="Tesseract" switchValue="Error">
        <listeners>
          <clear />
          
          <add name="console" />
          
          <!-- Uncomment to log to file -->
			    <!--<add name="file" />-->
          
        </listeners>
      </source>
    </sources>
    <sharedListeners>

      <!-- Uncomment to show in debug console -->
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />

      <!-- Uncomment to log to file -->
		  <!--<add name="file" type="System.Diagnostics.TextWriterTraceListener"   initializeData="c:\log\tesseract.log" />-->
		  
    </sharedListeners>
  </system.diagnostics>
  
  
</configuration>
